{{- /* Extended head: additional structured data for SEO */ -}}
{{- if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title }},
  "url": {{ site.Home.Permalink }},
  "description": {{ site.Params.description }},
  "author": {
    "@type": "Person",
    "name": "Christof Länzlinger",
    "url": {{ site.Home.Permalink }},
    "jobTitle": "Embedded Software Engineer",
    "image": {{ "/images/christof-laenzlinger.jpeg" | absURL }},
    "sameAs": [
      "https://github.com/laenzlinger",
      "https://linkedin.com/in/christof-laenzlinger-903bb082",
      "https://www.facebook.com/christof.laenzlinger"
    ]
  }
}
</script>
{{- end }}
